__pycache__/
*.pyc
.venv/
.env
.DS_Store

# Do NOT commit large artifacts (stored on Hugging Face)
artifacts/*.joblib
artifacts/*.pkl
artifacts/*.bin
artifacts/*.onnx
artifacts/*.pt
artifacts/*.h5
artifacts/*.json

# Do NOT commit datasets (stored on Hugging Face)
data/*.csv
